.newfeed {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: #F3F3F3;
}

.newfeed_left {
    position: relative;
    width: 265px;
    height: 370px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 20px;

}

.newfeed_center {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.create_post {
    width: 550px;
    height: 132px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
}

.title_post {
    margin-top: 30px;
}

.post_suggested {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.avt_name_company {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.img_detail_company {

    width: 265px;
    height: 164px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.post_suggested_item {
    width: 265px;
    height: 282px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;

}

/* .status_suggest {
    wi
} */




.akjd {
    display: flex;
    flex-direction: column;
}

.verification {
    width: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}



.newfeed_left_bg_img {
    position: absolute;
    width: 265px;
    height: 68px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.newfeed_left_avt_img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-top: 40px;
    margin-left: 10px;
}

.newfeed_right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 370px;
    background-color: #fff;
    border-radius: 20px;
}

.body_top_item44 {
    display: flex;
    flex-direction: column;
}

.newfeed_right_ads {
    margin-bottom: 135px;
}

.newfeed_company {
    display: flex;
    align-items: center;
}

.newfeed_detail_company {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.newfeed_act_company {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;

}

.newfeed_icon_action1 {
    display: flex;
    width: 74px;
    height: 18px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    align-items: center;
}

.newfeed_icon_action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 18px;
    border: 1px solid black;
    border-radius: 20px;

}

.create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}