.Footer {
    width: auto;
    height: 321px;
    background-color: #112D4E;
    margin-top: 600px;
    display: flex;
    flex-direction: column;

}

.Footer_Item_Top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_Item {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    display: flex;

}

.Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 30px;
}

.Footer_Detail {
    padding: 5px;
}

.Footer_Contact {
    display: flex;
    padding: 10px;
}

.Footer_Download {
    display: flex;
    justify-content: center;
    align-items: center;
}